IMMICH_URL=http://host.docker.internal:2283
IMMICH_API_KEY=replace-with-your-immich-api-key
VIEWER_TOKEN=replace-with-a-random-viewer-token
CACHE_MAX_GB=20
CACHE_TTL_HOURS=72
FFMPEG_ENCODER=libx264
FFMPEG_PRESET=superfast
